{% load static %}
{% autoescape off %}

<html>
<title>Електронна пошта для реєстрації</title>
<body>
<div>
  <span>Зареєструйтесь</span>
</div>
<div class="email-main">
  <p>Шановний користувач</p>
  <p>Ми відправили Вам цей лист, тому що Ви зареєструвалися на нашому веб-сайті.
    Перейдіть по посиланню, щоб підтвердити свою електронну пошту:
  </p>
  <div>
    <a href="{{ activate_url }}">
      Підтвердьте електронну пошту
    </a>
  </div>
  <p>Якщо це були не ви, проігноруйте цей електронний лист.</p>
</div>
</body>
</html>
{% endautoescape %}
