{% block content %}
<h3>Історія замовлень</h3>
<div class="table-responsive">
<table class="table table-striped table-borderless">
    <thead class="thead-light">
    <tr>
        <th>№</th>
        <th>І'мя</th>
        <th>Прізвище</th>
        <th>Створений</th>
        <th>Статус</th>
        <th>Сума</th>
    </tr>
    </thead>
    {% for order in orders %}
    <tr>
        <td><a href="{% url 'orders:order_detail' order.id %}">
            {{ order.id }}</a>
        </td>
        <td>{{ order.first_name }}</td>
        <td>{{ order.last_name }}</td>
        <td>{{ order.created }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.get_total_cost }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}