{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
<title>'Profile'</title>
{% endblock head %}
{% block content %}


    <h1>'Profile'</h1>
<p><a href="{% url 'users:history_orders' %}">Історія замовлень</a> </p>

    <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
      {% bootstrap_messages %}
      {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <div>
          <button type="submit">'Save'</button>
        </div>
      </div>
    </form>


{% endblock content %}
