{% extends 'base.html' %}

{% block head %}
<title>Перевірка користувача</title>
{% endblock head %}

{% block content %}
<div class="container justify-content-center mt-4">
    <h3 class="text-center">Такого користовача не існує</h3>
    <p>
        Користувача не існує. Ми перевірили нашу базу даних і, на жаль, не знайшли вас у ній.
        <a href="{% url 'users:signup' %}">Пройдіть процедуру реєстрації</a>.
        Або зв’яжіться з нашою службою обслуговування клієнтів.
    </p>
</div>
{% endblock content %}