{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load thumbnail %}
{% load bootstrap4 %}


{% block content %}
<div class="container-fluid mt-5 pt-5">
    <h2>Ваша корзина</h2>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% if cart %}
                {% for item in cart %}
                {% with thing=item.thing %}
                <div class="col-sm-3 p-sm-1">
                    {% if thing.images.all %}
                    {% for image in thing.images.all %}
                    {% if image.main %}
                    <a href="{{ thing.get_absolute_url }}">
                        <img src="{{ image.image|thumbnail_url:'avatar' }}" class="rounded img-thumbnail img-fluid">
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <img src="{% static 'img/no_image.png' %}" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    <div class="mark">Назва
                        <span class="font-weight-bold">{{ thing.name }}</span>
                    </div>
                    {% if thing.size %}
                    <div class="mark">Розмір
                        <span class="font-weight-bold">{{ thing.size }}</span>
                    </div>
                    {% endif %}
                    <div class="mark">В наявності
                        <span class="font-weight-bold">{{ thing.quantity }} шт.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                <form action="{% url 'cart:cart_add' thing.pk %}" method="post" >
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="font-weight-bold mb-2">Вибрано:</div>
                                <div class="w-50">
                                    {% bootstrap_label "Кількість:" %}
                                    {% if thing.pk == request.session.form_error.0 %}
                                    <div class="small text-nowrap text-danger">{{ request.session.form_error.1 }}</div>
                                    {% endif %}
                                    {% bootstrap_field item.update_quantity_form.quantity show_label=false %}
                                </div>

                                <div class="w-50">
                                   {% bootstrap_field item.update_quantity_form.price %}
                                </div>

                                <p class="text-primary mark lead font-weight-bold"> Сума: {{ item.total_price }} грн. </p>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-3">
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" class="btn btn-outline-primary" value="Оновити">
                                </div>
                                <div class="m-3">
                                   <input type="submit" class="btn btn-outline-danger" name="_delete" value="Видалити">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-3 offset-md-1 d-flex flex-wrap align-content-center">
            <div class="mark lead m-sm-1 p-sm-3">Всього: {{ cart.get_total_price }} грн.</div>
            <div class="m-4">
                <a href="{% url 'freestuff:things_list' %}" class="btn btn-outline-info">Продовжити перегляд</a>
            </div>
            {% if cart.get_total_price %}
            <div class="m-4">
                <a href="{% url 'orders:order_create' %}" class="btn btn-outline-primary">Оформити замовлення</a>
            </div>
            {% else %}
            {% if not request.session.coupon_id %}
            <div class="m-4">
                За наявності промокоду введіть його:
                <form action="{% url 'coupons:apply' %}" method="post">
                    {{ coupon_apply_form }}
                    <div class="mt-4">
                        <input type="submit" class="btn btn-outline-info" value="Готово">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            {% else %}
            <div class="m-4">
                <a href="{% url 'orders:order_create' %}" class="btn btn-outline-primary">Оформити замовлення</a>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 offset-sd-1">
            {% if recommender_things %}
            <div class="recommendations cart">
                <h3>"Люди купують ці речі разом"</h3>
                {% for p in recommender_things %}
                <div>
                    <a href="{{ p.get_absolute_url }}">
                        <img src="{% if p.image %}{{ p.image.url }}{% else %}
          {% static 'img/no_image.png' %}{% endif %}">
                    </a>
                    <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}