{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% block title %}
Ви вибрали
{% endblock %}
{% block content %}
<h1>Ваша корзина</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Фото</th>
        <th>Річ</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th> &nbsp;</th>
        <th>Сума</th>
        <th>Видалити</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with thing=item.thing %}
    <tr>
        <td>
            <a href="{{ thing.get_absolute_url }}">
                <img src="{% if thing.image %}{{ thing.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
        </td>
        <td>{{ thing.name }}</td>
        <form action="{% url 'cart:cart_add' thing.pk %}" method="post">
        <td> {{ item.update_quantity_form.quantity }}</td>
        <td> {{ item.update_quantity_form.price }}</td>
        <td>{{ item.update_quantity_form.update }}
            <input type="submit" value="Обновити">
        </td>
        {% csrf_token %}
        </form>
        <td>{{ item.total_price }}</td>
        <td><a href="{% url 'cart:cart_remove' thing.pk %}">Видалити</a></td>
    </tr>
    {% endwith %}{% endfor %}
    </tbody>
</table>
{% if cart.get_total_price %}
<p class="text-right">
    <a href="{% url 'freestuff:things_list' %}" class="button light">Продовжити перегляд</a>
    <a href="{% url 'orders:order_create' %}" class="button">Оформити</a>
</p>
{% else %}
<p>Apply a coupon:</p>
<form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="Apply">
    {% csrf_token %}
</form>
<p class="text-right">
    <a href="{% url 'freestuff:things_list' %}" class="button light">Продовжити перегляд</a>
    {% if request.session.coupon_id %}
    <a href="{% url 'orders:order_create' %}" class="button">Оформити</a></p>
{% endif %}
{% endif %}

<div>{% if recommender_things %}
    <div class="recommendations cart">
        <h3>"Люди купують ці речі разом"</h3>
        {% for p in recommender_things %}
        <div class="item">
            <a href="{{ p.get_absolute_url }}">
                <img src="{% if p.image %}{{ p.image.url }}{% else %}
          {% static 'img/no_image.png' %}{% endif %}">
            </a>
            <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}