[run]
omit =
  *asgi.py,
  *wsgi.py,
  *apps.py,
  *migrations/*,
  *settings*,
  *tests/*,
  *urls.py,
  *wsgi/*,
  *.pytest_cache/*,
  *logs/*,
  *media/*,
  *node_modules/*,
  *task/*,
  *venv/*,
  manage.py