{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
  Оформити
{% endblock %}
{% block content %}
  <h1>Оформити</h1>
  <div class="order-info">
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.thing.name }} {{ item.quantity }} шт. по {{ item.price }} грн. = {{ item.total_price|floatformat:"2" }} грн.
        </li>
      {% endfor %}
    </ul>
    <p>Всього: {{ cart.get_total_price|floatformat:"2" }} грн.</p>
  </div>
  <form action="." method="post" class="order-form">
    {% csrf_token %}
    <p>{{ form.first_name.label }} {{ form.first_name }}</p>
    <p>  {{ form.last_name.label }} {{ form.last_name }}</p>
    <p>{{ form.email.label }} {{ form.email }}</p>
    <p>{{ form.phone.label }} {{ form.phone }}</p>
    <p>{{ form.address.label }} {{ form.address }}</p>
    <p>{{ form.postal_code.label }} {{ form.postal_code }}</p>
    <p>{{ form.city.label }} {{ form.city }}</p>
    <p>{{ form.shipping.label }} {{ form.shipping }}</p>
    <p>{{ form.department.label }} {{ form.department }}</p>
   <p><input type="submit" value="Place order"></p>

  </form>
{% endblock %}