{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Оформити
{% endblock %}
{% block content %}
<div class="container-fluid mt-5 pt-5" >
  <div class="row">
    <div class="col-sm-7 offset-md-1">
      <h2>Оформити</h2>
      <form action="." method="post" class="order-form">
        {% csrf_token %}
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <div class="w-75">{% bootstrap_field form.first_name show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.last_name show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.email show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.phone show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.coment show_label=False %}</div>
            </div>
            <div class="col-sm-6">
              <div class="w-75">{% bootstrap_field form.street show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.city show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.region show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.province show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.postal_code show_label=False %}</div>
              <div class="w-75">{% bootstrap_field form.shipping %}</div>
              <div class="w-75">{% bootstrap_field form.department show_label=False %}</div>
              <div class="mb-3">*Обовязкові поля</div>
              <input type="submit" class="btn btn-outline-primary" value="Зберегти">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Ваше замовлення</h3>
      <table class="table table-responsive-sm table-hover">
        {% for item in cart %}
        <tr>
          <td>
            {{ item.thing.name }} {{ item.quantity }} шт. по {{ item.price }} грн. = {{ item.total_price }} грн.
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="mark lead m-sm-1 p-sm-3">Всього: {{ cart.get_total_price }} грн.</div>
    </div>
  </div>
</div>
{% endblock %}

