{% load bootstrap4 %}
{% load static %}
{% load mptt_tags %}
{% load blog_tags %}

<h3>Категорії</h3>
<ul>
    <li>
        <a href="{% url 'blog:post_list' %}">Всі категорії ({% total_posts %})</a>
    </li>
</ul>
<ul>
    {% recursetree categories %}
    {% if node.items_count %}
    <li> <a href="{{ node.get_absolute_url }} ">{{ node.name }}
        <span>({{ node.items_count }})</span></a>
        {% if not node.is_leaf_node %}
        <ul>
            <a href="{{ children.det_absolute_url }}"> {{ children }}</a>
        </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endrecursetree %}
</ul>
