{% extends "base.html" %}


{% block head %}
<title>'Password reset'</title>
{% endblock head %}

{% block content %}
<section class="main password-reset container-fluid d-flex align-items-center">
    <div class="container dark justify-content-center py-4 py-md-0">
        <h1 class="text-center section-heading text-uppercase pb-1 my-3">"Password reset"</h1>
        <p class="text-center">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
    </div>
</section>
{% endblock content %}