{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
<title>'Log in'</title>
{% endblock head %}

{% block content %}
<section class="main dark log-in container-fluid d-flex align-items-center pb-4">
    <div class="container justify-content-center py-4 py-md-0">
        {% if user.is_authenticated %}
        <h1 class="text-center">'You are logged in'</h1>
        {% else %}
        <div>
            <h2 class="text-center section-heading text-uppercase mb-4">'Log in'</h2>

            <form method="post">
                <div class="text-light my-2">'Please, use the following form to log-in. If you don`t have an account',
                    <a href="{% url 'users:signup' %}">' register here' </a>.
                    <a href="{% url 'users:password_reset' %}"> 'Forgotten your password'?</a>
                </div>
                

                {% bootstrap_messages %}
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    <input type="hidden" name="next" value="{{ next }}">
                    <button class="btn btn-primary mt-3" type="submit">'Log in'</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}