{% extends "base.html" %}
{% load bootstrap4 %}

{% load static %}

{% block head %}
<title>Скидання паролю</title>
{% endblock head %}

{% block content %}
<div class="container justify-content-center mt-5 pt-5">
    <div class="row">
        <div class="col-sm-5 offset-md-3">
            <h3>Скидання паролю</h3>
            <form method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="text-muted mb-3">
                    Ви уже ввійшли, як<b>{{ user.email }}</b>
                </div>
                {% endif %}
                <div class="text-muted mb-3">
                    Забули свій пароль? Нічого страшного!</div>
                <div class="text-muted mb-3">Будь ласка, введіть нижче адресу своєї електронної пошти і ми надішлемо Вам листа для скидання цього паролю.</div>
                <div class="form-group">
                    {% bootstrap_messages %}
                    <input class="form-control mb-3" id="id_email" type="text" placeholder="Email" aria-label="Email" name="email">
                    <button class="btn btn-primary mb-3" type="submit">Скинути мій пароль</button>
                </div>
                <div class="text-muted mb-3">Якщо виникнуть проблеми, будь ласка, зв'яжіться з нами.</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}