{% extends "base.html" %}
{% load bootstrap4 %}

{% load static %}

{% block head %}
<title>'Password reset'</title>
{% endblock head %}

{% block content %}

<section class="main dark password-reset container-fluid d-flex align-items-center">
    <div class="container justify-content-center py-4 py-md-0">
        <div class="container1">
        <p class="text-center section-heading text-uppercase pb-1 my-3">Скидання паролю</p>

        <form method="post" class="dark">
            {% csrf_token %}
            
            {% if user.is_authenticated %}
            <p class="section-subheading mb-3">
                'You are logged in as '<b>{{ user.email }}</b>
            </p>
            {% endif %}

            <p class="mb-4 pb-3">
                Забули свій пароль? Нічого страшного!
            <p>Будь ласка, введіть нижче адресу своєї електронної пошти і ми надішлемо Вам листа для скидання цього паролю.</p>
            </p>
            {% bootstrap_messages %}
            <input class="form-control mr-sm-2" id="id_email" type="text" placeholder="Email" aria-label="Email" name="email">
            <div class="text-center">
                <button class="btn btn-primary mt-3" type="submit">
                    Скинути мій пароль
                </button>
                <p>Якщо виникнуть проблеми, будь ласка, зв'яжіться з нами.</p>
            </div>
            </div>
        </form>       
    </div>
</section>

{% endblock content %}