{% load static %}
{% autoescape off %}

<html>
<title>Скидання пароля</title>
<body>
<h3>Скинути пароль</h3>
<div>
  <p>Привіт, {{ user.get_username }}</p>
  <p>Ми надіслали Вам цей лист, тому що Ви хочете скинути пароль.
    Будь ласка, натисніть на це посилання, щоб створити новий пароль:</p>
  <p><a href="{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
      Встановіть новий пароль</a>
  </p>
  <p>Якщо ви не намагалися скинути пароль, ви можете проігнорувати цей електронний лист.
    Ваш пароль не буде змінено.</p>
</div>
</body>
</html>
{% endautoescape %}
