{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
<title>Скинути пароль</title>
{% endblock head %}

{% block content %}
<div class="container justify-content-center mt-5 pt-5">
    <h3 class="text-center">Скинути пароль</h3>
    {% if validlink %}
    <form method="post">
        <p>Будь ласка, введіть ваш новий пароль двічі:</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
            <button class="btn btn-primary my-4" type="submit">Змінити мій пароль</button>
        </div>
    </form>
    {% else %}
    <p>Посилання для скидання паролю було недійсним, можливо тому, що воно вже використовувалося.
        Будь ласка, запитуйте нове скидання пароля.</p>
    {% endif %}
</div>
{% endblock content %}