{% extends "base.html" %}
{% load bootstrap4 %}

{% block head %}
<title>'Change password'</title>
{% endblock head %} 

{% block content %}
<section class="main password-change container-fluid d-flex align-items-center">
  <div class="container my-4 py-4 py-md-0">
    <h1 class="dark text-center section-heading text-uppercase pb-4 mb-4">
      "Change password"
    </h1>

    <form method="post" class="text-secondary">
      {% csrf_token %}
      <div class="form-group">
        {% bootstrap_field form.old_password %}
      </div>

      <div class="form-group">

          {% bootstrap_field form.new_password1 %}

        {% endif %}
      </div>

      <div class="form-group">
        {% bootstrap_field form.new_password2 %}
      </div>

      <div class="text-center">
        <button class="btn btn-primary mt-3" type="submit" name="action">
          "Change password"
        </button>
      </div>
    </form>
  </div>
</section>


{% endblock content %}
