{% extends "base.html" %}
{% load bootstrap4 %}

{% block head %}
<title>Змінити пароль</title>
{% endblock head %}

{% block content %}
<div class="container my-4 pt-5">
  <h3 class="dark text-center mb-4">Змінити пароль</h3>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {% bootstrap_field form.old_password %}
      {% bootstrap_field form.new_password1 %}
      {% bootstrap_field form.new_password2 %}
    </div>
    <div class="text-center">
      <button class="btn btn-primary mt-3" type="submit" name="action">Змінити пароль</button>
    </div>
  </form>
</div>
{% endblock content %}
