{% extends "base.html" %}
{% load bootstrap4 %}

{% load static %}

{% block head %}
<title>'Password reset'</title>
{% endblock head %}

{% block content %}

<section class="main dark password-reset container-fluid d-flex align-items-center">
    <div class="container justify-content-center py-4 py-md-0">
        <h1 class="text-center section-heading text-uppercase pb-1 my-3">"Password Reset"</h1>

        <form method="post" class="dark">
            {% csrf_token %}
            
            {% if user.is_authenticated %}
            <h3 class="section-subheading mb-3">
                'You are logged in as '<b>{{ user.email }}</b>
            </h3>
            {% endif %}

            <p class="mb-4 pb-3">
                "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it."

                'Please contact us if you have any trouble resetting your password.'
            </p>
            {% bootstrap_messages %}
            <input class="form-control mr-sm-2" id="id_email" type="text" placeholder="Email" aria-label="Email" name="email">
            <div class="text-center">
                <button class="btn btn-primary mt-3" type="submit">
                    'Reset my password'
                </button>
            </div>
        </form>       
    </div>
</section>

{% endblock content %}