{% extends 'base.html' %}


{% block head %}
<title>'Password changed'</title>
{% endblock head %}

{% block content %}
<section class="main password-changed container-fluid d-flex align-items-center">
	<div class="container justify-content-center py-4 py-md-0">
		<h1 class="text-center section-heading text-uppercase pb-1 my-3">'Password changed'</h1>
			<h3 class="section-subheading mb-0 text-left text-md-center text-secondary">
				'Your password has been successfully changed' .
			</h3>
	</div>
</section>
{% endblock content %}