{% load static %}
{% autoescape off %}

<html>
  <title>'Password reset Email'</title>
  <body>
    <div class="email-header">
      <a href="" class="email-header__text">
        'Reset your AntiObesity password'
      </a>
      <img src="{% static 'img/logo.png' %}" class="email-header__logo" />
    </div>

    <div class="email-main">
      <p>'Hi', {{ user.get_username }}</p>

      <p>
        Ми надіслали Вам цей лист, тому що Ви хочете скинути пароль. Будь ласка, натисніть на це посилання, щоб створити новий пароль:

      </p>

      <div class="email-button__wrapper">
        <a href="{% url 'users:password_reset_confirm' uidb64=uid token=token %}" class="email-button">
          {% 'Set a new password'
        </a>
      </div>

      <p>'If you didn’t request a password reset, you can ignore this email. Your password will not be changed.'</p>


    </div>
  </body>
</html>
{% endautoescape %}
