{% extends "base.html" %}
{% load static %}

{% block title %}
{{ thing.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
    <img src="{% if thing.image %}{{ thing.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    <h1>{{ thing.name }}{{ name }}</h1>
    <h2><a href="{{ thing.category.get_absolute_url }}">{{ thing.category }}</a></h2>
    {{ thing.quantity }}
    <div class="price">
    <form action="{% url 'cart:cart_add' thing.pk %}" method="post">
    {{ cart_thing_form }}
    {% csrf_token %}
    <input type="submit" value="{{ 'Додати в кошик' }}">
    </form></div>

    {{ thing.description|linebreaks }}

    {% if recommended_things %}
    <div class="recommendations">
        <h3>{{ "Люди купують це разом" }}</h3>
        {% for p in recommended_things %}
        <div class="item">
            <a href="{{ p.get_absolute_url }}">
                <img src="{% if p.image %}{{ p.image.url }}{% else %}
          {% static  'img/no_image.png' %}{% endif %}">
            </a>
            <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}