{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-7 offset-md-2">
<p>
    Сайт «Віддам безкоштовно» або «Поторгуємось» створений для того, щоб ви могли віддати безкоштовно,
    або продати будь-які речі, які вам вже не потрібні, але можуть послужити іншим.
    Як Що ви знайомі з терміном «Гаражна розпродаж», то це воно.
</p>
<p>Що значить «поторгуватись»? Покупець може запропонувати, за яку ціну готовий купити товар,
    якщо поле «Ціна товару» порожне можна поставити свою ціну. Зрозуміло, вона має бути не символічною,
    а адекватною. І якщо продавця Ваша ціна влаштує, він звʼяжеться з вами і домовиться про доставку.
    Вартість пересилки в ціну товару не входить, тому це також треба врахувати.
</p>
        </div>
    </div>
</div>

{% endblock %}