{% load static %}
{% load bootstrap4 %}
{% load mptt_tags %}
<!--<!DOCTYPE html>-->
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ "Віддам безкоштовно" }}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
<!--    <a href="/" class="logo">{{ "Віддам безкоштовно" }}</a>-->
</div>
<!--<div class="hello">Вітаємо {{ user.get_full_name|default:"Гість." }}{% if user.is_authenticated %}-->
<!--{% else %} Якщо Ви маєте акаунт - можете ввійти, якщо ні можете зареєструватись.-->
<!--{% endif %}-->
<!--</div>-->
{% block menu %}
<div class="menu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class="home" href=""> Головна </a>&nbsp;&nbsp;&nbsp;
<a class="we" href=""> Про нас </a>&nbsp;&nbsp;&nbsp;
<a class="shop" href="{% url 'freestuff:things_list' %}"> Магазин </a>&nbsp;&nbsp;&nbsp;
<a class="contacts" href=""> Контакти </a>&nbsp;&nbsp;&nbsp;

    {% if request.user.is_authenticated %}
<a href="{% url 'users:logout' %}"> Вихід </a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'users:profile' %}"> Особистий кабінет </a>&nbsp;&nbsp;&nbsp;
    {% else %}
    <a class="exit" href="{% url 'users:login' %}"> Вхід </a>&nbsp;&nbsp;&nbsp;
<a class="registration" href="{% url 'users:signup' %}"> Зареєструватися </a>
    {% endif %}
    </div>
<div class="block">
    <p>G F</p>
</div>
{% endblock %}

{% block content %} {% endblock %}
<footer>
    <string>2020</string><string>Всі права захищені</string>
</footer>

</body>
</html>